$screen-maxwheel: 767px;
$big-wheel: 680px;
$small-wheel: 330px;

body {
    font-family: Tahoma, Verdana, Segoe, sans-serif;
    background: #ddd;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

div.moon {
    display: block;
    float: right;
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
}

.layer-container {
    padding-top: 15px;

    h1 {
        text-align: center;
        font-size: 1.5rem;
    }

    .inner {
        position: relative;
        width: $big-wheel;
        height: $big-wheel;
        margin: 0 auto;
        overflow: hidden;

        @media (max-width: $screen-maxwheel) {
            width: $small-wheel;
            height: $small-wheel;
        }

        img {
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            -webkit-transition: 0.5s ease-in-out;
            -moz-transition: 0.5s ease-in-out;
            -o-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
        }
    }

    .buttons-group-options {
        padding-top: 8px;

        .btn {
            padding-top: 0;
            padding-bottom: 0;
        }
    }
}

.ganzhiyear-container {
    .center-number {
        position: absolute;
        font-weight: bold;
        display: block;
        text-align: center;
        margin: 0 auto;
        font-size: 18px;
        width: 30px;
        height: 30px;
        min-width: 30px;
        min-height: 30px;
        line-height: 1.63;


        top: ($big-wheel/2)-15;
        left: ($big-wheel/2)-15;

        &.white {
            color: #000;
        }

        &.black {
            color: #fff;
        }
    }

    @media (max-width: $screen-maxwheel) {
        .center-number {
            top: ($small-wheel/2)-7.7;
            left: ($small-wheel/2)-7.7;
            font-size: 9px;
            line-height: 1.69;
            width: 15px;
            height: 15px;
            min-width: 15px;
            min-height: 15px;
        }
    }

}

.jiequi-container {
    .button-group-container {
        width: 252px;
        margin: 0 auto;

        label {
            font-size: 16px !important;
            font-weight: normal;
            font-family: Tahoma, sans-serif;
        }
    }
}

.ganzhi-container {
    .button-group-container {
        width: 268px;
        margin: 0 auto;

        label {
            font-size: 16px !important;
            font-weight: normal;
            font-family: Tahoma, sans-serif;
        }
    }


    .inner {
        .position {
            position: absolute;
            display: block;
            width: 30px;
            height: 30px;
            min-height: 30px;
            min-width: 30px;
            text-align: center;
            line-height: 1.85;
        }

        .position-0 {
            bottom: 2px;
            left: ($big-wheel/2)-15;
        }

        .position-1 {
            bottom: ($big-wheel/16)+4;
            left: ($big-wheel/4) - 6;
        }

        .position-2 {
            bottom: ($big-wheel/4) - 7;
            left: ($big-wheel/12) - 11;
        }

        .position-3 {
            top: ($big-wheel/2)-14;
            left: 2px;
        }

        .position-4 {
            top: ($big-wheel/4) - 6;
            left: ($big-wheel/12)-10;
        }

        .position-5 {
            top: ($big-wheel/16)+3;
            left: ($big-wheel/4)-7;
        }

        .position-6 {
            top: 3px;
            left: ($big-wheel/2)-14;
        }

        .position-7 {
            top: ($big-wheel/16)+2;
            right: ($big-wheel/4)-8;
        }

        .position-8 {
            top: ($big-wheel/4)-6;
            right: ($big-wheel/12)-12;
        }

        .position-9 {
            top: ($big-wheel/2)-15;
            right: 2px;
        }

        .position-10 {
            bottom: ($big-wheel/4)-6;
            right: ($big-wheel/12)-12;
        }

        .position-11 {
            bottom: ($big-wheel/16)+3;
            right: ($big-wheel/4)-6;
        }

        @media (max-width: $screen-maxwheel) {
            .position {
                position: absolute;
                display: block;
                width: 15px;
                height: 15px;
                min-height: 15px;
                min-width: 15px;
                text-align: center;
                font-size: 8px;
                line-height: 1.65;	                line-height: 1.9;
            }
            .position-0 {
                bottom: 0;
                left: ($small-wheel/2)-7;
            }
            .position-1 {
                bottom: ($small-wheel/16);
                left: ($small-wheel/4)-3;
            }
            .position-2 {
                bottom: ($small-wheel/4)-4;
                left: ($small-wheel/12)-6;
            }
            .position-3 {
                top: ($small-wheel/2)-7;
                left: 0;
            }
            .position-4 {
                top: ($small-wheel/4)-3;
                left: ($small-wheel/12)-6;
            }
            .position-5 {
                top: ($small-wheel/16)+1;
                left: ($small-wheel/4)-3;
            }
            .position-6 {
                top: 1px;
                left: ($small-wheel/2)-7;
            }
            .position-7 {
                top: ($small-wheel/16)+1;
                right: ($small-wheel/4)-4;
            }
            .position-8 {
                top: ($small-wheel/4)-3;
                right: ($small-wheel/12)-6;
            }
            .position-9 {
                top: ($small-wheel/2)-7;
                right: 1px;
            }
            .position-10 {
                bottom: ($small-wheel/4)-4;
                right: ($small-wheel/12)-6;
            }
            .position-11 {
                bottom: ($small-wheel/16);
                right: ($small-wheel/4)-3;
            }
        }


    }
}

nav {
    .year-change {
        padding-left: 5px;
    }

    a.moon-phase {
        margin-top: -6px;
    }

    .current-header-date {
        color: #fff;
        cursor: pointer;
        width: 130px;
        padding-top: 6px;

        input {
            background-color: transparent;
            border: none;
            cursor: pointer;
            color: #fff;
            font-size: 12px;
        }
    }

    &.navbar {
        padding: 3px 0;
        margin: 0;
    }

    .navbar-brand {
        padding-left: 4px;
        margin-right: 0;
        cursor: pointer;
    }

    .navbar-nav .nav-link {
        padding-left: 2px;
        padding-right: 2px;
    }
}

.row-current-header-date {
    text-align: center;
    padding-top: 5px;

    input {
        background-color: transparent;
        text-align: center;
        cursor: pointer;
        border: none;
    }

}

p.slider-title {
    margin: 0;
    padding: 0;
    padding-top: 5px;
    @media (max-width: $screen-maxwheel) {
        font-size: 13px;
    }
}

.mb-11px{
    margin-bottom: 11px;
}

@media (max-width: $screen-maxwheel) {
    p.slider-cycle {
        font-size: 13px;
        margin-top: -10px;
    }
}

.rc-slider {
    padding-bottom: 10px;

    .rc-slider-track {
        background-color: #000;
    }

    .rc-slider-handle {
        border-color: #ff9900;
    }
}

footer {
    width: 100%;
    padding-top: 15px;

    p {
        text-align: center;
        margin: 0;
        font-size: 10px;
        color: #aaa;
    }
    a {
        color: #aaa;
    }
}
